html, body {
  height:100%;
}

/* SKY ------------------------------------------------- */


.sky {
  background-color: #00004c;
  height: 100%;
  width: 100%;
}

.moon {
  background-color: #e5e5e5;
  border-radius: 100%;
  box-shadow: 0px 0px 100px #e5e5e5;
  width: 150px;
  height: 150px;
  margin: 25% 0% 0% 60%;
  position: absolute;
}

.star {
  background-color: #ffeb7f;
  border-radius: 100%;
  box-shadow: 0px 0px 50px #ffeb7f;
  cursor: pointer;
  position: absolute;
}

.star_small{
  width: 5px;
  height: 5px;
}

.star_medium {
  width: 7px;
  height: 7px;
}

.star_large {
  width: 9px;
  height: 9px;
}

#s1 {
  margin: 5% 0% 0% 30%;
}

#s2 {
  margin: 10% 0% 0% 10%;
}

#s3 {
  margin: 20% 0% 0% 80%;
}

#s4 {
  margin: 25% 0% 0% 15%;
}

#s5 {
  margin: 5% 0% 0% 60%;
}

#s6 {
  margin: 30% 0% 0% 87%;
}

#s7 {
  margin: 15% 0% 0% 25%;
}

#s8 {
  margin: 30% 0% 0% 10%;
}

#s9 {
  margin: 30% 0% 0% 45%;
}

#s10 {
  margin: 15% 0% 0% 50%;
}

#s11 {
  margin: 30% 0% 0% 30%;
}

#s12 {
  margin: 10% 0% 0% 80%;
}


/* Hidden ------------------------------------ */

.star:hover .hidden {
  display: inline-block;
}
.hidden {
  display: none;
  width:150px;
  border-radius: 25px;
  background-color: white;
  opacity: 0.5;
  padding: 10px;
  z-index: 100;
}

img {
  max-width: 100px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto
}

/* Banner ------------------------------------ */

#banner {
  background-color: #000000;
  border: black;
  margin-top: -20px;
  opacity: 0.5;
  width: 100%;
  height: 20%;
  padding: 1%;
}

#brand {
  color: #fff;
  display: inline-block;
}

#subtitle {
  color: #fff;
  display: inline-block;
  margin-left: 1%;
}

/* Footer ------------------------------------- */

.footer {
  margin-top: 50%;
  background-color: #000000;
  border: black;
  color: white;
  text-align: center;
  opacity: 0.5;
  width: 100%;
  height: 20%;
  padding: 1%;
}
